.navbar-logoLanguageLoginWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navbar-text {
  color: #063f6f;
}

/* Logo */
.logo {
  height: 60px;
}

/* Language Toggle  */
.navbar-languageToggleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-languageToggle {
  margin: 0 5px;
}

.languageToogle-circle {
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
}

.languageToggle-background {
  background-color: #063f6f;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 30px;
  width: 55px;
}

/* Log In  */
.login-wrapper {
  display: flex;
}

.login-A {
  display: flex;
  align-items: center;
}

.login-img {
  width: 50px;
}

/* Navbar Element  */
.navbar-iconWrapper {
  display: flex;
  justify-content: space-around;
  background-color: #d2e8fd;
  width: 100%;
}

.navbar-element {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar-element a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-element img {
  height: 50px;
  width: 50px;
}

/* Footer */
.footer-background {
  position: relative;
  bottom: 0;
  background-color: #fdc98b;
  height: 100px;
  width: 100%;
}

/* RWD  */
@media screen and (max-width: 768px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 100px;
    top: 23px;
  }
}

@media screen and (max-width: 375px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 90px;
    top: 23px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-languageToggleWrapper {
    display: flex;
    flex-direction: column;
    top: 0px;
  }
}
