* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(6, 63, 111, 1);
  position: relative;
  background-image: url(/Img/bg4.png);
  background-size: contain;
}

.navbar-logoLoginWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navbar-text {
  color: #063f6f;
}

/* Logo */
.logo {
  width: 20%;
}

/* Navbar Log In  */
.login-wrapper {
  display: flex;
  width: 100%;
}

.login-A {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.login-img {
  width: 50px;
}

/* Navbar Element  */
.navbar-A {
  text-decoration: none;
}

.navbar-iconWrapper {
  display: flex;
  justify-content: space-around;
  background-color: #d2e8fd;
  width: 100%;
}

.navbar-element {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar-element a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-element img {
  height: 50px;
  width: 50px;
}

/* Footer */
.footer-background {
  bottom: 0;
  background-color: rgb(6, 63, 111, 1);
  height: 50px;
  width: 100%;
  position: absolute;
}

/* RWD  */
@media screen and (max-width: 768px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 100px;
    top: 23px;
  }
}

@media screen and (max-width: 375px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 90px;
    top: 23px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-languageToggleWrapper {
    display: flex;
    flex-direction: column;
    top: 0px;
  }
}
