* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(6, 63, 111, 1);
  position: relative;
  background-image: url(../../img/background.png);
  background-size: cover;
}

.navbar-logoLoginWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navbar-text {
  color: #063f6f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* Logo */
.navbar-logoWrapper {
  margin: 10px 0px 0px 10px;
}

.logo {
  width: 180px;
}

/* Login Button  */
.loginBtn {
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: rgb(6, 63, 111, 1);
  color: #ffffff;
  text-align: center;
}

.loginBtn:hover {
  background-color: #fc9f35;
  box-shadow: 2px 3px #063f6f;
  padding: 2px 12px 4px 8px;
}

/* Navbar Log In  */
.login-wrapper {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
  width: 100%;
}

.login-A {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration: none;
  color: #063f6f;
}

.login-A:hover {
  color: #fc9f35;
}

.fa-user-circle {
  font-size: 28px;
}

/* Navbar Element  */
.navbar-A {
  text-decoration: none;
}

.navbariconWrapperFlex {
  display: flex;
  justify-content: center;
  background-color: #d2e8fd;
}

.navbar-iconWrapper {
  display: flex;
  justify-content: space-around;
  background-color: #d2e8fd;
  width: 85%;
}

.navbar-element {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar-element a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-element img {
  height: 50px;
  width: 50px;
}

/* Navbar Icon  */

.navbarIcon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: contain;
}

.homeIcon {
  background-image: url("../img/navbar/homepage.png");
}

.homeIcon:hover {
  background-image: url("../img/navbar/homepage-hover.png");
}

.bookingWalkingIcon {
  background-image: url("../img/navbar/walkingdog.png");
}

.bookingWalkingIcon:hover {
  background-image: url("../img/navbar/walkingdog-hover.png");
}

.photoIcon {
  background-image: url("../img/navbar/photo.png");
}

.photoIcon:hover {
  background-image: url("../img/navbar/photo-hover.png");
}

.contactIcon {
  background-image: url("../img/navbar/contact.png");
}

.contactIcon:hover {
  background-image: url("../img/navbar/contact-hover.png");
}

/* LoginState */
.notLoginState {
  display: none;
}

.loginState {
  display: none;
}

/* Footer */
.footer-background {
  bottom: 0;
  background-color: rgb(6, 63, 111, 1);
  height: 50px;
  width: 100%;
  position: absolute;
}

/* RWD  */
@media screen and (max-width: 768px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 100px;
    top: 23px;
  }
}

@media screen and (max-width: 375px) {
  .navbar-languageToggleWrapper {
    position: absolute;
    right: 90px;
    top: 23px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-languageToggleWrapper {
    display: flex;
    flex-direction: column;
    top: 0px;
  }
}
