@import url("../navbar.css");
@import url("../loading.css");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.contentWrapper {
  padding-bottom: 10px;
}

.customerHistoryWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.customerWrapper {
  width: 60%;
  margin-top: 30px;
}

.blockWrapper {
  display: flex;
  margin: 6px 0;
}

.orderTitle {
  width: 80px;
  margin: 0px 20px 0px 33px;
  display: flex;
  justify-content: flex-start;
}

.remindWrapper {
  display: block;
  border-top: dashed 1px #78909c;
  padding: 10px 0;
}

.remindTitle {
  width: 160px;
}

.orderContent {
  margin: 3px 0 3px 47px;
}

.remindContent {
  margin: 7px 20px 5px 33px;
}

details {
  outline: none;
  margin: 15px auto;
  padding: 0 1rem;
  width: 35em;
  max-width: calc(100% - 2rem);
  position: relative;
  border: 1px solid #78909c;
  border-radius: 6px;
  background-color: rgb(40, 101, 153);
  color: #fff;
  min-height: 48px;
  max-height: 60px;
  transform-origin: top center;
  transform: rotate(0.1deg);
  transition: all 0.3s;
}

details > :last-child {
  margin-bottom: 1rem;
}

details::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0.15;
  box-shadow: 0 0.25em 0.5em #263238;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
details[open] {
  background-color: #fff;
  color: rgb(40, 101, 153);
  box-shadow: 0 0 15pt 1pt#fc9f35;
  transition: all 0.8s;
  min-height: 100px;
  max-height: 800px;
}
details[open]::before {
  opacity: 0.6;
}

summary {
  outline: none;
  padding: 10px 20px;
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

summary::before,
summary::after {
  width: 0.75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  background-color: #ffbe78;
  text-align: right;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}
summary::after {
  transform: translateY(-50%) rotate(90deg);
}
[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}
summary::-webkit-details-marker {
  display: none;
}
