body {
  min-height: 100vh;
}

.contentWrapper {
  padding-bottom: 10px;
}

.customerHistoryWrapper {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 50px auto 100px;
  width: 500px;
}

.customerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2.2;
  padding: 20px;
  width: 400px;
}

.ownerWrapper,
.petWrapper,
.contactPhoneWrapper,
.emailWrapper,
.lineWrapper,
.walkingWrapper,
.remindWrapper {
  display: flex;
}

.ownerTitle,
.petTitle,
.contactPhoneTitle,
.emailTitle,
.lineTitle,
.walkingTitle,
.remindTitle {
  width: 160px;
  display: flex;
  justify-content: center;
}

.ownerName,
.petName,
.contactPhone,
.email,
.lineId,
.walkingLocation,
.remind {
}
