body {
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 80vh;
  position: relative;
}

#logInCard-Mobile {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all ease-in-out 0.8s;
  opacity: 1;
}

#signInCard-Mobile {
  position: absolute;
  width: 100%;
  left: 100%;
  transition: all ease-in-out 0.8s;
  opacity: 0;
}

/* Login Card */
.login-CardWrapperMobile {
  display: flex;
  justify-content: center;
}
/* Login Card Log In  */
.login-CardLogInBox {
  height: 400px;
  width: 300px;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.loginCard-Title {
  font-size: 23px;
}

.loginCard-Title > span {
  font-size: 32px;
}
.loginCard-titleBackground {
  background-color: #fc9f35;
  margin-top: 10px;
  height: 15px;
  width: 100%;
}

/* Login Card Input  */

.loginCard-input {
  border-radius: 50px;
  border-color: #063f6f;
  text-indent: 12px;
  height: 30px;
  width: 180px;
  margin: 12px 0;
  outline: none;
}

.loginCard-input:focus {
  box-shadow: 0 0 15pt 1pt#fc9f35;
}

.mobileLogin-id {
  margin-top: 25px;
}

/* Login Card Member */

.loginCard-memberWrapper {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.socialLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 7px 10px;
  width: 40%;
  border-radius: 3px;
}

.facebookLogin {
  background-color: #475a95;
  color: #fff;
}

.googleLogin {
  border: solid 1px #063f6f;
}

.socialLogin:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.socialLoginIcon {
  width: 40px;
  height: 40px;
}

.google {
  padding-left: 5px;
  width: 24px;
  height: 24px;
}

.socialIconText {
  font-size: 12px;
  text-align: center;
  width: 55px;
}

/* Login button  */
.loginCard-loginButton,
.signinCard-loginButton {
  width: 100px;
  height: 30px;
  font-size: 18px;
  margin-top: 22px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 1px 2px #063f6f;
  background-color: #fc9f35;
  outline: none;
}

.loginCard-loginButton:hover,
.signinCard-loginButton:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px inset;
  background-color: #fc9f35;
  color: #fff;
}

.loginCard-noAccountText {
  margin-top: 20px;
}

.loginCard-applySpan {
  color: #063f6f;
  text-decoration: underline;
}

/* Sign In card  */
.signinCard-box {
  background-color: #d2e8fd;
}

.signinCard-titleBackground {
  background-color: #ffffff;
  margin-top: 10px;
  height: 15px;
  width: 100%;
}

.signinCard-loginButton {
  margin: 30px auto 20px;
}
