.contactIcon {
  background-image: url("../../img/navbar/contact-hover.png");
}

body {
  height: 100vh;
}

.content {
  margin: 5px 0;
}

.homeBtn:hover {
  background-color: #fc9f35;
  color: #fff;
}
