.bookingWalkingIcon {
  background-image: url("../../img/navbar/walkingdog-hover.png");
}

body {
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.wrapper {
  margin: 80px auto 0;
  width: 600px;
  border: solid 2px;
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

.fa-check-circle {
  font-size: 45px;
}

.thankyou {
  font-size: 34px;
  font-family: "Lobster", cursive;
}

.memberFont {
  text-decoration: underline;
}

.btn {
  border-radius: 12px;
  width: 80px;
  height: 30px;
  margin: 10px;
  background-color: #fc9f35;
  outline: none;
}

.homeBtn {
  background-color: #063f6f;
  color: #fff;
}

.homeBtn:hover,
.memberorderBtn:hover {
  background-color: #d2e8fd;
  color: #063f6f;
}
