body {
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 25px 0 25px;
  padding-bottom: 100px;
}

/* who */
.whoTextWrapper {
  display: flex;
  justify-content: center;
}

.whoTextTitle {
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  margin: 35px 0;

  text-decoration: underline;
  text-decoration-color: #fc9f35;
  text-decoration-style: wavy;
}

/* Link to bookingWalkingCalendar */

.linkToBookingWalkingCalendarWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 25px 0;
}

.linkToBookingWalkingCalendarWrapper img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.toCalendarRight {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(210, 232, 253); */
  background-color: rgb(6, 63, 111, 1);
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto;
  width: 30%;
}

.calendarText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.calendarTextTitle {
  font-size: 22px;
  margin-bottom: 8px;
}

.calendarText p {
  font-size: 18px;
  margin: 4px 0;
}

.calendarTextLine {
  margin: 15px 0;
  width: 90%;
  border-bottom: dashed 2px #fff;
}

@keyframes zoominout {
  100% {
    transform: scale(1.2, 1.2);
  }
}

.toBookingCalendarBtn {
  cursor: pointer;
  margin: 18px;
  font-size: 24px;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #fc9f35;
  color: #fff;
  box-shadow: 3px 4px #fff;
  text-decoration: none;
  width: 170px;
}

.toBookingCalendarBtn:hover {
  animation: zoominout 1.5s;
  scale: 1.2;
}
/* Description */
.descriptionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 20px;
}

.descriptionLeft,
.descriptionRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.descriptionLeftTitle,
.descriptionRightTitle {
  margin: 10px;
  font-size: 24px;
}

.descriptionLeft > p,
.descriptionRight > p {
  margin: 4px 0;
  font-size: 18px;
}
