body {
  min-height: 100vh;
}

#map {
  height: 700px;
  width: 100%;
}

.contentWrapper {
  display: flex;
  /* height: 780px; */
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  /* align-items: center; */
}

/* Back Button  */
.back-A {
  text-decoration: none;
  color: #3f3a3a;
}
.backWrapper {
  display: flex;
  align-items: center;
  margin: 20px 0 0 25px;
}

.fa-arrow-alt-circle-left {
  color: #3f3a3a;
}

.backContent {
  font-weight: 900;
  margin-left: 5px;
  font-size: 18px;
  padding-bottom: 4px;
}

/* Form  */
.outsideFormWrapperFlex {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.outsideFormWrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px #3f3a3a;
  padding: 30px;
  width: 80%;
  margin: 0 25px;
}

input {
  height: 25px;
  width: 150px;
  text-indent: 5px;
  font-size: 16px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 12px 0;
  width: 48%;
}

.bookingDate,
.bookingTime {
  text-align: left;
  width: 150px;
}

.locationSelect {
  height: 30px;
  width: 155px;
}

.remindWrapper {
  flex-direction: column;
  width: 100%;
}

.remind {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  resize: none;
  padding: 7px 0 0 7px;
  line-height: 1;
  font-size: 16px;
}

.sendBookingDetailBtnWrapper {
  display: flex;
  justify-content: center;
}

.sendBookingDetailBtn {
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  padding: 5px 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #d2e8fd;
  box-shadow: 1px 3px #063f6f;
  text-decoration: none;
}
