@import url("../navbar.css");
@import url("../loading.css");

.bookingWalkingIcon {
  background-image: url("../../img/navbar/walkingdog-hover.png");
}

body {
  min-height: 100vh;
}

#map {
  height: 700px;
  width: 100%;
}

.contentWrapper {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

/* Back Button  */
.back-A {
  text-decoration: none;
  color: rgb(6, 63, 111, 1);
}
.backWrapper {
  display: flex;
  width: 190px;
  align-items: center;
  margin: 20px 0 0 25px;
}

.fa-arrow-alt-circle-left {
  color: rgb(6, 63, 111, 1);
}

.backContent {
  font-weight: 900;
  margin-left: 5px;
  font-size: 18px;
  padding-bottom: 4px;
  width: 100%;
  background-color: #fff;
}

.backWrapper:hover .backContent {
  color: #fc9f35;
}

.backWrapper:hover .fa-arrow-alt-circle-left {
  color: #fc9f35;
}

/* Form  */
.outsideFormWrapperFlex {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.outsideFormWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  width: 80%;
  margin: 0 25px;
}

input {
  height: 25px;
  width: 150px;
  text-indent: 5px;
  font-size: 16px;
  border: solid 1px #063f6f;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0 0 7pt 1pt#fc9f35;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 12px 0;
  width: 48%;
}

.bookingDate,
.bookingTime {
  text-align: left;
  width: 150px;
}

.locationSelect {
  height: 30px;
  width: 155px;
  border-radius: 5px;
  border: solid 1px #063f6f;
}

.locationSelect:focus {
  box-shadow: 0 0 7pt 1pt#fc9f35;
}

.remindWrapper {
  flex-direction: column;
  width: 100%;
}

.remind {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  resize: none;
  padding: 7px 0 0 7px;
  line-height: 1;
  font-size: 16px;
  border: solid 1px #063f6f;
  border-radius: 5px;
}

.remind:focus {
  box-shadow: 0 0 7pt 1pt#fc9f35;
}

.sendBookingDetailBtnWrapper {
  display: flex;
  justify-content: center;
}

.sendBookingDetailBtn {
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  padding: 5px 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #d2e8fd;
  box-shadow: 1px 3px #063f6f;
  text-decoration: none;
}

/* Map Info Window */

#infowindowsTitle {
  text-align: center;
  margin: 5px auto;
}

#windowPic {
  width: 420px;
  height: 250px;
}
